/* f0f5f9
light grey

c9d6df
grey

52616b
dark grey

1e2022
black */
html, body{
    margin: 0;
    padding: 0;
    max-height: 100vh;
    font-family: Calibri, sans-serif, 'Trebuchet MS';
    background-color: #fff;
}
/* ======================================index page====================================== */
.index-body center h2{    
    position: relative;
}
.parent{    
    display: flex;    
    justify-content: center;        
    align-items: center;        
    overflow: hidden;    
}
.child{
    width: 40%;      
    background-color: #f0f5f9;     
    padding: 50px;     
    border: 3px solid black;    
}
.btnLogin{
    display: flex;
    justify-content: center;    
}

/* ======================================index page====================================== */
.reg-parent{    
    display: flex;    
    justify-content: center;        
    align-items: center;        
    overflow: hidden;    
}
.reg-child{
    width: 40%;      
    background-color: #f0f5f9;     
    padding: 25px;     
    border: 3px solid black;    
}

/* ======================================Layout page====================================== */
.container{    
    min-width: 95%;
    background-color: #f0f5f9;  
}
.header-welcome-msg{
    padding: 10px;
    padding-bottom: 0;
    font-family: 'Times New Roman', Times, serif;
}
.hr1{
    width: 90%;
    align-items: center;     
}
.action{    
    text-align: center;    
}
#action-nav li{
    list-style-type: none;
    display: inline-block;        
}
.footer{    
    background-color: aliceblue;    
    text-align: center;    
    line-height: 35px;
    height: 35px;    
    border: 1px solid black;
    margin-top: 50px;            
    bottom: 0;
    width: 100%;       
    position: relative;
} 

/* ======================================Dashboard page====================================== */
.display-data{
    padding-bottom: 35px;
}


/* ======================================Insert page====================================== */
#insert-form{
    width: 100%;    
}
#insert-form .row{
    justify-content: space-evenly;
}


/* ======================================Update page====================================== */


/* ======================================Re-Order page====================================== */

